body, html {
    height: 100%;
}

body {
    /* https://projects.verou.me/css3patterns/#zig-zag */
    background:
        linear-gradient(135deg, #35334F 25%, transparent 25%) -32px 0,
        linear-gradient(225deg, #35334F 25%, transparent 25%) -32px 0,
        linear-gradient(315deg, #35334F 25%, transparent 25%),
        linear-gradient(45deg, #35334F 25%, transparent 25%);
    background-size: 64px 80px;
    background-color: #2E2D40;
    margin: 0;
}

@font-face {
    font-family: 'atkinson';
    src: url('assets/fonts/sans.ttf');
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bevy {
    height: 0px;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.text-loading {
    color: #ffdb81;
    font-family: 'atkinson', monospace;
    animation: opacity_in_out 1s ease-in-out infinite alternate;
}

.loader {
    /* https://cssloaders.github.io */
    position: relative;
    font-size: 16px;
    width:  5.5em;
    height: 5.5em;
}
.loader:before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 100%;
    width: 4px;
    background: #b87ed2;
    left: 50%;
    top: 50%;
}
.loader:after{
    content: '';
    position: absolute;
    left: 0.2em;
    bottom: 0.18em;
    width: 1em;
    height: 1em;
    background-color: #ffdb81;
    border-radius: 15%;
    animation: rolling_square 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes opacity_in_out {
    100% {
        opacity: 0.7;
        color: #d5af68;
    }
}

@keyframes rolling_square {
    0% {transform: translate(0, -1em) rotate(-45deg)}
    5% {transform: translate(0, -1em) rotate(-50deg)}
    20% {transform: translate(1em, -2em) rotate(47deg)}
    25% {transform: translate(1em, -2em) rotate(45deg)}
    30% {transform: translate(1em, -2em) rotate(40deg)}
    45% {transform: translate(2em, -3em) rotate(137deg)}
    50% {transform: translate(2em, -3em) rotate(135deg)}
    55% {transform: translate(2em, -3em) rotate(130deg)}
    70% {transform: translate(3em, -4em) rotate(217deg)}
    75% {transform: translate(3em, -4em) rotate(220deg)}
    100% {transform: translate(0, -1em) rotate(-225deg)}
}
